body {
    margin: 0;
    padding: 0;
    background-color: rgb(235, 247, 247);
}

.contenedor {
    display: flex;
}

.header {
    background-color: rgb(54, 167, 130); /* Puedes cambiar el color de fondo según tus preferencias */
    color: #ffffff; /* Puedes cambiar el color del texto según tus preferencias */
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 1cm;
    border: 2px black solid;

}
.coconut{
    flex: 1;
    background-color: rgb(54, 167, 130);
    color: white;
    height: 300px;
    width: 300px;
    border: 2px black solid;
    margin-top: 90px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10%;
}
h1 {
    margin: 0;
}

img {
    border-radius: 1cm;
}

